
  /*
 Program Name: patient-form-hw3.css
 Author: Ashish Zach Ajish
 Date created: 11/10/2025
 Date last edited: 11/14/2025
 Version: 1.6
 Description: This file contains the CSS code for the patient registration form. 
*/
body {
    background-color:  lightsalmon;  
    text-align: center; 
    font-weight: bold;
    font-size: 40px
}
footer {
  background-color: darksalmon;
}
.form {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
}
.middle-cell {
  text-align: center;
}
table.form {
  background-color: maroon;
  color: navajowhite;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
