
  /*
 Program Name: patient-form-hw4.css
 Author: Ashish Zach Ajish
 Date created: 12/03/2025
 Date last edited: 12/06/2025
 Version: 1.6
 Description: This file contains the CSS code for the patient registration form. 
*/
.header {
   position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #2596be;
  color: #f1f1f1;
}
.footer {
   position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  background-color: darksalmon;
}
body {
    background-color:  lightsalmon;  
    text-align: center; 
    font-weight: bold;
    font-size: 40px
}
.form {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
}
.middle-cell {
  text-align: center;
}
table.form {
  background-color: maroon;
  color: navajowhite;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
